@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	padding: 0;
	margin: 0;

	/* globale Farbe */
	color: white;
}

body {
	height: 6000px;
	overflow: auto;
}

#black-overlay {
	background: black;
	position: fixed;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 100vh;
	width: 100vw;
	position: fixed;
	transform: scale(1.1);
}

.background-0 { background-image: url("../img/philippbadenhoop.jpg"); }
.background-1 { background-image: url("../img/wave.jpg"); }
.background-2 { background-image: url("../img/contactme.jpg"); }

.icon {
	background-repeat: no-repeat;
	background-position: center center;
}

.soundcloud-icon { background-image: url("../img/soundcloud.png"); width: 266px; height: 119px; }
.youtube-big-icon { background-image: url("../img/youtube-big.png"); width: 287px; height: 116px; }

.circle {
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	position: fixed;
	transform: translate(0%, 0%);  /* microsoft edge bug with border radius and overflow hidden */
}

.circle-content {
	background: rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#circle-0 {
	width: 950px;
	height: 950px;
	left: -50px;
	bottom: -100px;
}

#circle-0 h1 {
	margin-top: 300px;
	margin-bottom: 40px;
}

#circle-0 p {
	letter-spacing: 18pt;
	margin-left: 20px;
	line-height: 64pt;
}

#circle-0 hr {
	width: 150px;
	margin-top: 30px;
}

#circle-1 {
	width: 800px;
	height: 800px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#circle-1 .circle-content {
	padding-top: 250px;
}

#circle-1 .circle-text .container {
	margin-right: 15px;
}

#circle-1 h1 {
	text-align: right;
	letter-spacing: 6pt;
	line-height: 70pt;
}

#circle-1-hbar {
	width: 190px;
	transition: width 1s;
	height: 9px;
	text-align: right;
	margin-top: 15px;
	margin-right: 10px;
}

#circle-1-hbar.off {
	width: 0;
}

#soundcloud-samples-icon { 
	margin-top: 15px; 
	opacity: 0.3; 
	transition: opacity 1s;
}

#soundcloud-samples-icon:hover {
	opacity: 0.6;
}

#youtube-samples-icon { 
	margin-top: 20px; 
	opacity: 0.3; 
	transition: opacity 1s;
}

#youtube-samples-icon:hover {
	opacity: 0.6;
}

#circle-2 {
	width: 950px;
	height: 950px;
	left: 38.2%;
	bottom: -100px;
}

#circle-2 h1 {
	margin-top: 150px;
}

#circle-2 br {
	line-height: 30px;
}

h1 {
	font-size: 64pt;
	line-height: 96pt;
	letter-spacing: 16pt;
}

h2 {
	font-size: 48pt;
	line-height: 64pt;
	letter-spacing: 14pt;
}

h3 {
	font-size: 32pt;
	line-height: 48pt;
	letter-spacing: 12pt;
}

p {
	font-size: 18pt;
	line-height: 36pt;
	letter-spacing: 10pt;
}

hr {
	height: 2px;
	background: white;
	border: none;
	margin: 0 auto;
}

.background-blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.fade-1s {
	transition: opacity 1s;
}

.fade-2s {
	transition: opacity 1s;
}

.hidden {
	visibility: hidden;
}

.opacity-0 {
	opacity: 0;
}

.cols {
	font-size: 0;
	width: 100%;
}

.col {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: 60%;
}